{% load static %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <div class="error-msg">{{ message }}</div>
    {% endfor %}
</ul>
{% endif %}
<p style="font-size:39px">
        Poll Questions
</p>
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
<h1 class="polls">Hi <i>{{ user.username }}</i><a>
<h1 >{% if user.is_authenticated %}</i><a
        href="{% url 'logout' %}" class="button" style="background-color:white;">   L o g o u t </a>{% else %}<a
        href="{% url 'login' %}" class="button">Login</a>{% endif %}</h1>
<div>
    <h2>{% if latest_question_list %}
        <ul>
             {% for question in latest_question_list %}
                <p >{{ question.question_text }}</p>
                {% if question.can_vote %}
                <button>
                    <a href="{% url 'polls:detail' question.id %}">vote</a> 
                </button>
                {% endif %}
                <button>
                    <a href="{% url 'polls:results' question.id %}">result</a>
                </button>

              {% endfor %}
        </ul>
        {% else %}
        <p>No polls are available.</p>
        {% endif %}</h2>
</div>
